
/**Header - START**/
    
header {
    display: flex;
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 12px;
}

.logo span {
    color: mediumaquamarine;
}

a {
    color: black;
}

nav span {
        padding-right: 15px;
}

/**Header - END**/

/**Main Content - START**/

.main {
    display: flex;
    padding-top: 100px;
}

.column {
    display: flex;
    margin-right: auto;
}

.column.large {
    width: 630px; 
    display: block;
}

.column.medium {
    width: 300px;
    display: block;
}

.column.small {
    width: 240px;
    display: block;
}

.post {
    margin-bottom: 15px;
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.headline {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.images {
    display: flex;
    height: 300px;
}

.text {
    height: 250px;
}

.mother {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

#mother {
    text-align: left;
    font-size: 40px;
}

.flex-column {
    display: flex;
    justify-content: space-between;
}

.stories {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.earth {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.research {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cat {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.bites-headline {
    font-size: 16px;
    text-align: center;
}

.bite {
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    display: block;
    padding: 10px;
}

.news-bites {
    flex-direction: column;
}


/**Main Content - END**/

/**Footer - START**/

.footer {
    background-color: MediumAquamarine;
    display: flex;
    height: 325px;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-footer {
    display: inline-flex;
}

.site-title {
    color: #fff;
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    border-right: 2px solid white;
    padding-right: 20px;
}

.footer-nav span {
    margin-left: 20px;
}

.bottom-footer {
    margin-top: 15px;
}

/**Footer - END**/